<div class="container">
  <div class="row">
    <div class="col-8 shadow-none rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">投稿の編集</h5>
      <div class="form-body p-4">
        
        
        <% if @post.errors.any? %>
          <%= @post.errors.count %>件のエラーが発生しました
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        
        <%= render 'public/posts/form', post: @post %>
        
        <%= link_to "投稿を削除する", post_path(@post), method: :delete, class: "btn btn-lg btn-block btn-danger mt-4"%>

      </div>
    </div>
  </div>
</div>