
  <div>
    <% if followings.present? %>
      <% followings.each do |user| %>
        <p><%= user.name %></p>
        <p>フォロー数: <%= user.followers.count %></p>
        <p>フォロワー数: <%= user.followings.count %></p>
      <% end %>
    <% else %>
    <p></p>
     </div>
<% end %>
